In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [9]:
md = pd.read_csv("./OCA-5_days_sample data/5days_Metadata_L1.csv", sep=";", encoding="latin1")
md

,hydra_plant_instance_name,machine_id,machine_event_start_timestamp,machine_event_start_end_timestamp,machine_status_code,machine_status_name,part_number,tool_number
0,WOERT,S-223,2025-12-05 06:00:00,2025-12-05 06:01:58,211,Wartez. WKZ-Macher,5-963715-1,S0275910
1,WOERT,S-223,2025-12-05 06:01:58,2025-12-05 06:40:59,212,WKZ Reparatur,5-963715-1,S0275910
2,WOERT,S-223,2025-12-05 06:40:59,2025-12-05 06:43:08,200,Produktion,5-963715-1,S0275910
3,WOERT,S-223,2025-12-05 06:43:08,2025-12-05 06:56:26,212,WKZ Reparatur,5-963715-1,S0275910
4,WOERT,S-223,2025-12-05 06:56:26,2025-12-05 07:01:43,200,Produktion,5-963715-1,S0275910
...,...,...,...,...,...,...,...,...
3176,WOERT,S-278,2025-12-09 20:37:52,2025-12-09 20:38:37,200,Produktion,5-2208763-3,S1829103
3177,WOERT,S-278,2025-12-09 20:38:37,2025-12-09 20:54:44,208,Lagenwechsel,5-2208763-3,S1829103
3178,WOERT,S-278,2025-12-09 20:54:44,2025-12-09 21:38:55,206,Vorbeug. Wkz-Wartung,5-2208763-3,S1829103
3179,WOERT,S-278,2025-12-09 21:38:55,2025-12-09 22:00:00,999,Schichtpause,5-2208763-3,S1829103
3180,WOERT,S-278,2025-12-09 22:00:00,2025-12-10 06:00:00,999,Schichtpause,5-2208763-3,S1829103

In [10]:
md[
    (md.machine_status_code == 200)
    # & (md.machine_status_name != "Produktion")
    # & (md.part_number == "5-963715-1")
]

,hydra_plant_instance_name,machine_id,machine_event_start_timestamp,machine_event_start_end_timestamp,machine_status_code,machine_status_name,part_number,tool_number
2,WOERT,S-223,2025-12-05 06:40:59,2025-12-05 06:43:08,200,Produktion,5-963715-1,S0275910
4,WOERT,S-223,2025-12-05 06:56:26,2025-12-05 07:01:43,200,Produktion,5-963715-1,S0275910
6,WOERT,S-223,2025-12-05 07:07:36,2025-12-05 07:08:08,200,Produktion,5-963715-1,S0275910
8,WOERT,S-223,2025-12-05 07:09:33,2025-12-05 07:09:52,200,Produktion,5-963715-1,S0275910
10,WOERT,S-223,2025-12-05 07:11:18,2025-12-05 07:11:35,200,Produktion,5-963715-1,S0275910
...,...,...,...,...,...,...,...,...
3168,WOERT,S-278,2025-12-09 20:23:54,2025-12-09 20:25:07,200,Produktion,5-2208763-3,S1829103
3170,WOERT,S-278,2025-12-09 20:25:09,2025-12-09 20:31:01,200,Produktion,5-2208763-3,S1829103
3172,WOERT,S-278,2025-12-09 20:31:13,2025-12-09 20:31:43,200,Produktion,5-2208763-3,S1829103
3174,WOERT,S-278,2025-12-09 20:31:52,2025-12-09 20:34:49,200,Produktion,5-2208763-3,S1829103
3176,WOERT,S-278,2025-12-09 20:37:52,2025-12-09 20:38:37,200,Produktion,5-2208763-3,S1829103

In [11]:
md1 = md[md.machine_status_code == 200]
md1

,hydra_plant_instance_name,machine_id,machine_event_start_timestamp,machine_event_start_end_timestamp,machine_status_code,machine_status_name,part_number,tool_number
2,WOERT,S-223,2025-12-05 06:40:59,2025-12-05 06:43:08,200,Produktion,5-963715-1,S0275910
4,WOERT,S-223,2025-12-05 06:56:26,2025-12-05 07:01:43,200,Produktion,5-963715-1,S0275910
6,WOERT,S-223,2025-12-05 07:07:36,2025-12-05 07:08:08,200,Produktion,5-963715-1,S0275910
8,WOERT,S-223,2025-12-05 07:09:33,2025-12-05 07:09:52,200,Produktion,5-963715-1,S0275910
10,WOERT,S-223,2025-12-05 07:11:18,2025-12-05 07:11:35,200,Produktion,5-963715-1,S0275910
...,...,...,...,...,...,...,...,...
3168,WOERT,S-278,2025-12-09 20:23:54,2025-12-09 20:25:07,200,Produktion,5-2208763-3,S1829103
3170,WOERT,S-278,2025-12-09 20:25:09,2025-12-09 20:31:01,200,Produktion,5-2208763-3,S1829103
3172,WOERT,S-278,2025-12-09 20:31:13,2025-12-09 20:31:43,200,Produktion,5-2208763-3,S1829103
3174,WOERT,S-278,2025-12-09 20:31:52,2025-12-09 20:34:49,200,Produktion,5-2208763-3,S1829103
3176,WOERT,S-278,2025-12-09 20:37:52,2025-12-09 20:38:37,200,Produktion,5-2208763-3,S1829103

In [16]:
md1.machine_event_start_timestamp.min()

'2025-12-05 06:00:00'

In [13]:
md.machine_event_start_timestamp = pd.to_datetime(md.machine_event_start_timestamp)
md.machine_event_start_end_timestamp = pd.to_datetime(
    md.machine_event_start_end_timestamp
)