In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

import warnings
warnings.filterwarnings('ignore')

In [2]:
d1 = pd.read_csv("./OCA-5_days_sample data/5days_Metadata_L1.csv", sep= ";", encoding='latin1')
d2 = pd.read_csv("./OCA-5_days_sample data/5days_of_camera_data.csv", sep= ";", encoding='latin1')
d3 = pd.read_csv("./OCA-5_days_sample data/Metadata_L2.csv", sep= ";", encoding='latin1')

In [3]:
# Converting string timeStamps to pd_TimeStamps

In [4]:
d1["machine_event_start_timestamp"] = pd.to_datetime(d1["machine_event_start_timestamp"])
d1["machine_event_start_end_timestamp"] = pd.to_datetime(d1["machine_event_start_end_timestamp"])

d2["timestamp"] = pd.to_datetime(d2["timestamp"])

d3["qcpc_event_create_timestamp"] = pd.to_datetime(d3["qcpc_event_create_timestamp"])

1. First from D1 select only Production machines i.e. Status_code -> 200 Once

In [5]:
d1 = d1[d1.machine_status_code == 200]
d1.head()

,hydra_plant_instance_name,machine_id,machine_event_start_timestamp,machine_event_start_end_timestamp,machine_status_code,machine_status_name,part_number,tool_number
2,WOERT,S-223,2025-12-05 06:40:59,2025-12-05 06:43:08,200,Produktion,5-963715-1,S0275910
4,WOERT,S-223,2025-12-05 06:56:26,2025-12-05 07:01:43,200,Produktion,5-963715-1,S0275910
6,WOERT,S-223,2025-12-05 07:07:36,2025-12-05 07:08:08,200,Produktion,5-963715-1,S0275910
8,WOERT,S-223,2025-12-05 07:09:33,2025-12-05 07:09:52,200,Produktion,5-963715-1,S0275910
10,WOERT,S-223,2025-12-05 07:11:18,2025-12-05 07:11:35,200,Produktion,5-963715-1,S0275910

# Connecting the all three data

### 1. Using machine_id

**Lets Take S-223**

In [6]:
d1_S223 = d1[d1.machine_id == "S-223"]
d1_S223

,hydra_plant_instance_name,machine_id,machine_event_start_timestamp,machine_event_start_end_timestamp,machine_status_code,machine_status_name,part_number,tool_number
2,WOERT,S-223,2025-12-05 06:40:59,2025-12-05 06:43:08,200,Produktion,5-963715-1,S0275910
4,WOERT,S-223,2025-12-05 06:56:26,2025-12-05 07:01:43,200,Produktion,5-963715-1,S0275910
6,WOERT,S-223,2025-12-05 07:07:36,2025-12-05 07:08:08,200,Produktion,5-963715-1,S0275910
8,WOERT,S-223,2025-12-05 07:09:33,2025-12-05 07:09:52,200,Produktion,5-963715-1,S0275910
10,WOERT,S-223,2025-12-05 07:11:18,2025-12-05 07:11:35,200,Produktion,5-963715-1,S0275910
...,...,...,...,...,...,...,...,...
416,WOERT,S-223,2025-12-10 04:02:54,2025-12-10 04:03:20,200,Produktion,5-963715-1,S0275910
418,WOERT,S-223,2025-12-10 04:03:40,2025-12-10 04:18:58,200,Produktion,5-963715-1,S0275910
420,WOERT,S-223,2025-12-10 04:21:27,2025-12-10 05:22:36,200,Produktion,5-963715-1,S0275910
422,WOERT,S-223,2025-12-10 05:38:46,2025-12-10 06:00:00,200,Produktion,5-963715-1,S0275910
423,WOERT,S-223,2025-12-10 06:00:00,2025-12-10 06:03:58,200,Produktion,(null),(null)

In [7]:
d2_S223 = d2[d2.device_name == "de512stmp223"]
d2_S223

,device_name,machine_definition,variable_name,value,timestamp,variable_attribute
0,de512stmp223,spark-machine-otto-vision-dynamic,teil1GapX,"0.498,0.496,0.496,0.498,0.496,0.493,0.492,0.49...",2025-12-10 04:16:46,"lowerLimit: -0.06499, upperLimit: 0.00499, nom..."
1,de512stmp223,spark-machine-otto-vision-dynamic,teil1GapY,"0.497,0.489,0.491,0.484,0.487,0.483,0.489,0.49...",2025-12-10 04:16:46,"lowerLimit: -0.06499, upperLimit: 0.00499, nom..."
3,de512stmp223,spark-machine-otto-vision-dynamic,iT1RastfederDeformiert,"59.543,62.944,58.544,61.577,62.455,58.252,58.9...",2025-12-10 04:16:46,"lowerLimit: -20, upperLimit: 22, nominalValue:..."
6,de512stmp223,spark-machine-otto-vision-dynamic,iT1Rastfederdifferenz,"0.051,0.052,0.059,0.053,0.05,0.061,0.055,0.061...",2025-12-10 04:16:46,"lowerLimit: -0.08, upperLimit: 0.08, nominalVa..."
10,de512stmp223,spark-machine-otto-vision-dynamic,iT1KastenVorne,"1.832,1.823,1.822,1.831,1.823,1.828,1.823,1.82...",2025-12-10 04:16:46,"lowerLimit: 0, upperLimit: 0.12, nominalValue:..."
...,...,...,...,...,...,...
2392749,de512stmp223,spark-machine-otto-vision-dynamic,federdeckelDeformiert,"89.683,92.262,89.087,83.135,86.111,90.079,92.4...",2025-12-05 20:15:55,"lowerLimit: -10, upperLimit: 40, nominalValue:..."
2392750,de512stmp223,spark-machine-otto-vision-dynamic,teil2GapX,"0.493,0.492,0.491,0.494,0.492,0.493,0.496,0.49...",2025-12-05 20:15:55,"lowerLimit: -0.06499, upperLimit: 0.00499, nom..."
2392751,de512stmp223,spark-machine-otto-vision-dynamic,teil2GapY,"0.514,0.509,0.517,0.5,0.512,0.513,0.509,0.517,...",2025-12-05 20:15:55,"lowerLimit: -0.06499, upperLimit: 0.00499, nom..."
2392752,de512stmp223,spark-machine-otto-vision-dynamic,iT2RastfederDeformiert,"45.63,47.037,49.143,45.381,46.484,47.769,45.92...",2025-12-05 20:15:55,"lowerLimit: -25, upperLimit: 25, nominalValue:..."
2392753,de512stmp223,spark-machine-otto-vision-dynamic,iT2Rastfederdifferenz,"0.025,0.031,0.029,0.027,0.025,0.025,0.026,0.02...",2025-12-05 20:15:55,"lowerLimit: -0.08, upperLimit: 0.08, nominalVa..."

In [8]:
d3_S223 = d3[d3.qcpc_event_machine_id == "S-223"]
d3_S223

,qcpc_event_id,qcpc_event_machine_id,qcpc_event_machine_status_active_code,qcpc_event_create_timestamp,qcpc_event_machine_module_description,qcpc_event_part_number,qcpc_event_error_text,qcpc_event_machine_stop_code
61,22300227210,S-223,200,2025-12-07 11:02:14,Bruderer,5-963715-1,OT-STOPP WEGEN FEHLER AUF WICKLER/QUITT1,1
100,22300227097,S-223,200,2025-12-07 00:40:51,Bruderer,5-963715-1,OT-STOPP VON FERNBEDIENUNG,1
113,22300227448,S-223,30000,2025-12-08 20:26:49,Bruderer,5-963715-1,KABINENTÜRE HINTEN OFFEN!,0
139,22300226720,S-223,200,2025-12-05 07:56:31,Bruderer,5-963715-1,OT-STOPP VON FERNBEDIENUNG,1
149,22300227576,S-223,200,2025-12-09 21:00:19,Kamera,5-963715-1,Teil 2 Gap Y: Cur= 0.464 LTL= 0.465 UTL= 0.535,0
...,...,...,...,...,...,...,...,...
9763,22300227112,S-223,30000,2025-12-07 03:02:07,Bruderer,5-963715-1,SCHUTZEINRICHTUNG HINTEN OFFEN!,0
9794,22300227450,S-223,30000,2025-12-08 20:28:07,Bruderer,5-963715-1,FEHLER 1/QUITT1,1
9820,22300227128,S-223,200,2025-12-07 03:37:07,Kamera,5-963715-1,Teil 2 Bodylötstelle: Cur= 0.000 LTL= 0.900 U...,0
9854,22300227121,S-223,200,2025-12-07 03:27:25,Bruderer,5-963715-1,KABINENTÜRE VORNE OFFEN!,0
9909,22300227531,S-223,200,2025-12-09 09:56:49,Kamera,5-963715-1,Teil 2 Gap Y: Cur= Nicht messbar LTL= 0.465 U...,0

### 2. Using timeStamp

* **StartTime-> 2025-12-05 06:40:59** 
* **EndTime -> 2025-12-05 06:43:08**

In [9]:
sample = d1_S223.sample()
start = sample.machine_event_start_timestamp.iloc[0]
end = sample.machine_event_start_end_timestamp.iloc[0]
print( f"Start Time: {sample.machine_event_start_timestamp.iloc[0]},\n End Time: {sample.machine_event_start_end_timestamp.iloc[0]} \n Total Time Spend : {end - start}")

Start Time: 2025-12-09 07:06:58,
 End Time: 2025-12-09 08:00:51
 Total Time Spend : 0 days 00:53:53

In [46]:
start = "2025-12-08 09:57:42"
end = "2025-12-08 09:58:03"

In [47]:
d1_S223_timeStamp = d1_S223[
    (d1_S223.machine_event_start_timestamp >= start)
    & (d1_S223.machine_event_start_end_timestamp <= end)
]
d1_S223_timeStamp

Empty DataFrame
Columns: [hydra_plant_instance_name, machine_id, machine_event_start_timestamp, machine_event_start_end_timestamp, machine_status_code, machine_status_name, part_number, tool_number]
Index: []

In [48]:
d2_S223_timeStamp = d2_S223[
    (d2_S223.timestamp >= start)
    & (d2_S223.timestamp <= end)
]
d2_S223_timeStamp

,device_name,machine_definition,variable_name,value,timestamp,variable_attribute
968378,de512stmp223,spark-machine-otto-vision-dynamic,teil1GapX,"0.503,0.503,0.509,0.498,0.495,0.499,0.499,0.49...",2025-12-08 09:57:45,"lowerLimit: -0.06499, upperLimit: 0.00499, nom..."
968379,de512stmp223,spark-machine-otto-vision-dynamic,teil1GapY,"0.502,0.507,0.512,0.497,0.501,0.499,0.504,0.50...",2025-12-08 09:57:45,"lowerLimit: -0.06499, upperLimit: 0.00499, nom..."
968380,de512stmp223,spark-machine-otto-vision-dynamic,iT1RastfederDeformiert,"60.997,61.464,62.306,59.345,60.07,59.153,64.10...",2025-12-08 09:57:45,"lowerLimit: -20, upperLimit: 22, nominalValue:..."
968381,de512stmp223,spark-machine-otto-vision-dynamic,iT1Rastfederdifferenz,"0.051,0.054,0.052,0.053,0.055,0.053,0.044,0.04...",2025-12-08 09:57:45,"lowerLimit: -0.08, upperLimit: 0.08, nominalVa..."
968382,de512stmp223,spark-machine-otto-vision-dynamic,iT1KastenVorne,"1.818,1.812,1.817,1.817,1.818,1.817,1.812,1.82...",2025-12-08 09:57:45,"lowerLimit: 0, upperLimit: 0.12, nominalValue:..."
...,...,...,...,...,...,...
968440,de512stmp223,spark-machine-otto-vision-dynamic,federdeckelDeformiert,"83.73,89.286,70.635,83.532,77.976,84.325,78.77...",2025-12-08 09:57:58,"lowerLimit: -10, upperLimit: 40, nominalValue:..."
968441,de512stmp223,spark-machine-otto-vision-dynamic,teil2GapX,"0.491,0.49,0.491,0.493,0.492,0.495,0.49,0.49,0...",2025-12-08 09:57:58,"lowerLimit: -0.06499, upperLimit: 0.00499, nom..."
968442,de512stmp223,spark-machine-otto-vision-dynamic,teil2GapY,"0.504,0.504,0.498,0.5,0.499,0.489,0.491,0.496,...",2025-12-08 09:57:58,"lowerLimit: -0.06499, upperLimit: 0.00499, nom..."
968443,de512stmp223,spark-machine-otto-vision-dynamic,iT2RastfederDeformiert,"44.472,46.362,43.304,40.566,43.461,46.378,44.7...",2025-12-08 09:57:58,"lowerLimit: -25, upperLimit: 25, nominalValue:..."
968444,de512stmp223,spark-machine-otto-vision-dynamic,iT2Rastfederdifferenz,"0.033,0.026,0.034,0.031,0.022,0.035,0.031,0.03...",2025-12-08 09:57:58,"lowerLimit: -0.08, upperLimit: 0.08, nominalVa..."

In [30]:
d3_S223_timeStamp = d3_S223[
    (d3_S223.qcpc_event_create_timestamp >= start)
    & (d3_S223.qcpc_event_create_timestamp <= end)
]
d3_S223_timeStamp

,qcpc_event_id,qcpc_event_machine_id,qcpc_event_machine_status_active_code,qcpc_event_create_timestamp,qcpc_event_machine_module_description,qcpc_event_part_number,qcpc_event_error_text,qcpc_event_machine_stop_code
6486,22300227091,S-223,200,2025-12-06 23:32:16,Kamera,5-963715-1,I-T1 Rastfeder deformiert: Cur= 29.964 LTL= 3...,0
7099,22300227090,S-223,200,2025-12-06 23:32:16,Kamera,5-963715-1,I-T1 Rastfeder deformiert: Cur= 27.311 LTL= 3...,0

### 3. Combining the Data
* Current Process
    * Data is filtered based on Machine Code: 200
    * Data is filtered based on machine id
    * Data is filtered based on timestamp

In [73]:
def getData(machine_id, start_time, end_time):
    base_path = "newCombinedDatasets"
    
    machine_id = machine_id.split("-")[-1]
    
    formatted_start_time = start_time.strftime("%Y-%m-%d_%H-%M-%S")
    formatted_end_time   = end_time.strftime("%Y-%m-%d_%H-%M-%S")

    
    new_folder = f"Id_{machine_id}_start_{formatted_start_time}_end_{formatted_end_time}"
    
    new_path = os.path.join(base_path, new_folder)
    os.makedirs(new_path, exist_ok=True)
    
    camera_data = d2[
        (d2.device_name == f"de512stmp{machine_id}")
        & (d2.timestamp.between(start_time, end_time))
    ]
    camera_data.sort_values(by="timestamp", inplace= True)
    
    error_data = d3[
        (d3.qcpc_event_machine_id == f"S-{machine_id}")
        & (d3.qcpc_event_create_timestamp.between(start_time, end_time))
    ]
    
    error_data.sort_values(by="qcpc_event_create_timestamp", inplace=True)
    
    camera_data.to_csv(
        os.path.join(
            new_path,
            f"Camera_data_Id_{machine_id}_start_{formatted_start_time}_end_{formatted_end_time}.csv",
        ),
        index=False
    )
    print("Camera data saved Successfully!")
    
    error_data.to_csv(
        os.path.join(
            new_path,
            f"Error_data_Id_{machine_id}_start_{formatted_start_time}_end_{formatted_end_time}.csv"
        )
        , index=False
    )
    print("Error data saved Successfully!")
    return camera_data, error_data

In [74]:
sample = d1[d1.machine_status_code == 200].sample()
start_time = sample.machine_event_start_timestamp.iloc[0]
end_time = sample.machine_event_start_end_timestamp.iloc[0]
machine_id = sample.machine_id.iloc[0]
print(
    f'''Machine id : {sample.machine_id.iloc[0]}\nstart = '{sample.machine_event_start_timestamp.iloc[0]}'\nend = '{sample.machine_event_start_end_timestamp.iloc[0]}' \nTotal Time Spend : {end_time - start_time}'''
)

Machine id : S-269
start = '2025-12-06 00:51:28'
end = '2025-12-06 00:59:24'
Total Time Spend : 0 days 00:07:56

In [75]:
# Using the function to get the sorted data
camera_data, error_data = getData(machine_id, start_time, end_time)

Camera data saved Successfully!
Error data saved Successfully!

In [76]:
camera_data.sort_values(by="timestamp")

,device_name,machine_definition,variable_name,value,timestamp,variable_attribute
430926,de512stmp269,spark-machine-otto-vision-dynamic,spur1IKastenVorne,"0.985,0.982,0.987,0.985,0.984,0.986,0.986,0.98...",2025-12-06 00:54:35,"lowerLimit: 0, upperLimit: 0.11, nominalValue:..."
430932,de512stmp269,spark-machine-otto-vision-dynamic,spur1DeformationFeder,"51.929,51.028,51.767,50.82,50.983,49.901,51.29...",2025-12-06 00:54:35,"lowerLimit: -25, upperLimit: 25, nominalValue:..."
430927,de512stmp269,spark-machine-otto-vision-dynamic,spur1IKastenMitte,"0.997,1.007,1,0.994,0.993,0.995,0.999,0.985,0....",2025-12-06 00:54:35,"lowerLimit: 0, upperLimit: 0.2, nominalValue: ..."
430928,de512stmp269,spark-machine-otto-vision-dynamic,spur1IKastenHinten,"0.986,1.002,0.985,0.987,0.986,0.98,0.987,0.98,...",2025-12-06 00:54:35,"lowerLimit: 0, upperLimit: 0.11, nominalValue:..."
430930,de512stmp269,spark-machine-otto-vision-dynamic,spur1Iso,"1.954,1.949,1.953,1.95,1.948,1.949,1.95,1.949,...",2025-12-06 00:54:35,"lowerLimit: -0.1, upperLimit: 0.1, nominalValu..."
...,...,...,...,...,...,...
433117,de512stmp269,spark-machine-otto-vision-dynamic,spur2Wire,"1.713,1.713,1.712,1.71,1.714,1.71,1.714,1.712,...",2025-12-06 00:59:22,"lowerLimit: -0.1, upperLimit: 0.1, nominalValu..."
433118,de512stmp269,spark-machine-otto-vision-dynamic,spur2Iso,"1.887,1.887,1.887,1.888,1.887,1.887,1.887,1.88...",2025-12-06 00:59:22,"lowerLimit: -0.1, upperLimit: 0.1, nominalValu..."
433112,de512stmp269,spark-machine-otto-vision-dynamic,spur1Gap,"0.19,0.186,0.186,0.191,0.179,0.185,0.181,0.182...",2025-12-06 00:59:22,"lowerLimit: -0.03, upperLimit: 0.03, nominalVa..."
433113,de512stmp269,spark-machine-otto-vision-dynamic,spur1DeformationFeder,"52.786,52.614,52.605,49.901,50.766,47.476,49.7...",2025-12-06 00:59:22,"lowerLimit: -25, upperLimit: 25, nominalValue:..."
433120,de512stmp269,spark-machine-otto-vision-dynamic,spur2DeformationFeder,"61.095,61.793,61.498,60.987,61.43,61.055,60.99...",2025-12-06 00:59:22,"lowerLimit: -25, upperLimit: 25, nominalValue:..."

In [77]:
error_data.head()

,qcpc_event_id,qcpc_event_machine_id,qcpc_event_machine_status_active_code,qcpc_event_create_timestamp,qcpc_event_machine_module_description,qcpc_event_part_number,qcpc_event_error_text,qcpc_event_machine_stop_code
8537,26903484088,S-269,200,2025-12-06 00:58:00,Kamera,2-1703930-1,Spur 1 Gap: Cur= 0.159 LTL= 0.160 UTL= 0.220,0
7896,26903484089,S-269,200,2025-12-06 00:59:23,Bruderer,2-1703930-1,WERKZEUGSICHERUNG: KANAL7 STOERUNG,0